#section-one {
  height: 110vh;
  position: relative;
}

#section-one video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
  pointer-events: none;
  user-select: none;
  padding-top: 150px;
}

#section-one .overlay-text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding-top: 15%;
  padding-bottom: 5%;
  color: var(--white);
  width: 50%;
}

#section-one .overlay-text h1 {
  font-size: 16px;
  margin: 0;
}

#section-one .overlay-text h2 {
  font-size: 50px;
  margin-top: 10px;
}

#section-one .overlay-text p {
  margin-top: 20px;
}

#section-one .btn-contact-us {
  margin-top: 30px;
}

#section-one .btn-contact-us a {
  padding: 10px 25px;
  background-color: var(--first-color);
  color: var(--white);
  border-radius: 20px;
  text-decoration: none;
  font-weight: 550;
  transition: 0.4s ease;
}

#section-one .btn-contact-us a:hover {
  margin-left: 15px;
}

#section-one .btn-contact-us i {
  margin-left: 10px;
}

/* SECTION TWO */

#section-two {
  padding: 50px 0;
}

#section-two .content-sec-two {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#section-two .left-content h2 {
  font-size: 55px;
  color: var(--second-color);
}

#section-two .left-content h3 {
  color: var(--second-color);
  font-size: 45px;
}

#section-two .left-content p {
  margin-top: 20px;
  font-size: 18px;
}

#section-two .btn-know-more {
  margin-top: 40px;
}

#section-two .btn-know-more a {
  padding: 10px 25px;
  background-color: var(--first-color);
  color: var(--white);
  border-radius: 20px;
  text-decoration: none;
  font-weight: 550;
  transition: 0.4s ease;
}

#section-two .btn-know-more a:hover {
  margin-left: 15px;
}

#section-two .btn-know-more i {
  margin-left: 10px;
}

#section-two .swiper {
  width: 100%;
  height: 100%;
}

#section-two .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-two .swiper-slide img {
  display: block;
  height: 700px;
  object-fit: cover;
  border-radius: 20px;
}

.custom-shape-divider-top-1753474152 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1753474152 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 206px;
    background-color: var(--third-color);
}

.custom-shape-divider-top-1753474152 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1753474213 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1753474213 svg {
    position: relative;
    display: block;
    width: calc(181% + 1.3px);
    height: 206px;
    background-color: var(--third-color);
}

.custom-shape-divider-bottom-1753474213 .shape-fill {
    fill: #FFFFFF;
}

/* SECTION THREE */

#section-three {
  padding-top: 40px;
  padding-bottom: 80px;
}

#section-three .right-content h2 {
  font-size: 55px;
  color: var(--second-color);
}

#section-three .right-content p {
  margin-top: 20px;
  font-size: 18px;
}

#section-three .content-sec-three {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#section-three .left-content ul {
  padding: 0;
}

#section-three .left-content ul a {
  text-decoration: none;
}

#section-three .left-content ul li {
  margin-top: 25px;
  color: var(--first-color);
  list-style-type: none;
  font-weight: 550;
  width: 100%;
  background-color: var(--third-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: 0.4s;
}

#section-three .left-content ul li:hover {
  margin-left: 15px;
}

#section-three .btn-know-more {
  margin-top: 40px;
}

#section-three .btn-know-more a {
  padding: 10px 20px;
  text-decoration: none;
  background-color: var(--first-color);
  color: var(--white);
  font-weight: 550;
  border-radius: 20px;
  transition: 0.4s;
}

#section-three .btn-know-more a:hover {
  margin-left: 10px;
}

#section-three .btn-know-more i {
  margin-left: 10px;
}

/* SECTION FOUR */

#section-four {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: var(--third-color);
  color: var(--first-color);
}

#section-four .content-sec-four {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#section-four .left-content h2 {
  color: var(--second-color);
  font-size: 55px;
}

#section-four .left-content p {
  font-size: 18px;
  margin-top: 20px;
}

#section-four .left-content .btn-click-here {
  margin-top: 20px;
}

#section-four .btn-click-here a {
  padding: 10px 20px;
  background-color: var(--first-color);
  color: var(---white);
  text-decoration: none;
  color: var(--white);
  border-radius: 20px;
  font-weight: 550;
  transition: 0.4s;
}

#section-four .btn-click-here a:hover {
  margin-left: 10px;
}

#section-four .btn-click-here i {
  margin-left: 10px;
}

#section-four .right-content img {
  height: 700px;
  border-radius: 20px;
}

.custom-shape-divider-top-1753475055 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1753475055 svg {
    position: relative;
    display: block;
    width: calc(184% + 1.3px);
    height: 146px;
    background-color: var(--first-color);
}

.custom-shape-divider-top-1753475055 .shape-fill {
    fill: var(--third-color);
}


/* SECTION FIVE */

.custom-shape-divider-bottom-1753475004 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1753475004 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 120px;
    background-color: var(--first-color);
}

.custom-shape-divider-bottom-1753475004 .shape-fill {
    fill: #FFFFFF;
}

#section-five {
  padding-top: 40px;
  padding-bottom: 80px;
  transform: translateY(-1px);
}

#section-five .title-sec h2 {
  text-align: center;
  font-size: 55px;
  color: var(--second-color);
}

#section-five .content-sec-five {
  margin-top: 45px;
}

#section-five .swiper {
  width: 100%;
  height: auto;
}

#section-five .swiper-slide{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#section-five .text-card{
  padding: 35px;
  background-color: var(--third-color);
  color: var(--first-color);
  border-radius: 30px 10px 30px 10px;
  border: 2px solid var(--first-color);
  height: 100%;
}

#section-five .text{
  margin-top: 35px;
}

#section-five .name span{
  font-size: 24px;
  font-weight: bold;
}

#section-five img{
  height: 500px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid var(--first-color);
}

#section-five .btn-know-more {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#section-five .btn-know-more a {
  padding: 10px 25px;
  background-color: var(--first-color);
  color: var(--white);
  text-decoration: none;
  border-radius: 20px;
  font-weight: 550;
  transition: 0.4s;
}

#section-five .btn-know-more a:hover {
  margin-left: 15px;
}

#section-five .btn-know-more i {
  margin-left: 10px;
}

/* SECTION SIX */

#section-six {
  padding: 60px 0;
  background-color: var(--second-color);
  color: var(--white);
}

#section-six .content-sec-six {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#section-six .content-sec-six h2 {
  text-align: center;
  font-size: 55px;
}

#section-six .content-sec-six p {
  margin-top: 20px;
  text-align: center;
  width: 60%;
}

#section-six .btn-contact-us {
  margin-top: 20px;
}

#section-six .btn-contact-us a {
  padding: 10px 25px;
  background-color: var(--first-color);
  color: var(---white);
  text-decoration: none;
  color: var(--white);
  border-radius: 20px;
  transition: 0.4s;
  font-weight: 550;
}

#section-six .btn-contact-us a:hover {
  margin-left: 15px;
}

/* SECTION SEVEN */

#section-seven {
  padding: 80px 0;
}

#section-seven .title-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-seven .title-sec h2 {
  font-size: 55px;
  color: var(--second-color);
}

#section-seven .title-sec p {
  width: 60%;
  text-align: center;
}

#section-seven .content-sec-seven {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

#section-seven .content-sec-seven img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

#section-seven .btn-know-more {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#section-seven .btn-know-more a {
  padding: 10px 25px;
  background-color: var(--first-color);
  color: var(--white);
  border-radius: 20px;
  text-decoration: none;
  font-weight: 550;
  transition: 0.4s;
}

#section-seven .btn-know-more a:hover {
  margin-left: 15px;
}

#section-seven .btn-know-more i {
  margin-left: 10px;
}
