@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "SelfieBlack";
  src: url(/fonts/Selfie_Black.otf);
}

:root {
  --first-color: #7a3042;
  --second-color: #3c6e71;
  --third-color: #e7bdc7;
  --fourth-color: #3d3d3d;
  --white: #ffffff;
  --primary-font: Montserrat, "sans-serif";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

html {
  scroll-behavior: smooth;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 90% !important;
}

@media (max-width: 768px) {
  .container {
    width: 95% !important;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--first-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
}

/* HEADER */

header {
  background-color: var(--white);
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 20;
  transition: border-bottom 0.3s ease;
  border-bottom: 3px solid transparent;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.281);
}

header.scrolled {
  border-color: var(--first-color);
}

header img {
  height: 65px;
  transition: 0.4s;
}

header img:hover {
  transform: scale(1.1);
}

ul {
  margin-bottom: 0 !important;
}

nav {
  margin-top: 30px;
}

#menu {
  display: flex;
  list-style: none;
  /* gap: 0.5rem; */
}

#menu a {
  display: block;
  padding: 5px 10px;
  color: var(--first-color);
  text-decoration: none;
  position: relative;
  font-weight: 500;
  font-size: 14px;
}

#menu .header-line::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--first-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-in-out;
}

#menu .header-line:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#btn-mobile {
  display: none;
}

@media (max-width: 1080px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center !important;
    padding: 20px 50px;
  }

  header img {
    height: 65px;
    transition: 0.4s;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 108px;
    right: 0px;
    background: var(--white);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: var(--first-color);
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--first-color);
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

/* whats button */

.whats-button {
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 9999;
  animation: moveRightLeft 2s infinite alternate ease-in-out;
}

.whats-button img {
  height: 80px;
  width: 80px;
}

@keyframes moveRightLeft {
  0% {
    right: 10px;
  }

  50% {
    right: 40px;
  }

  100% {
    right: 10px;
  }
}

/* FOOTER */

footer {
  padding: 80px 0;
  background-color: var(--third-color);
  border-top: 3px solid var(--first-color);
}

footer .content-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

footer .logo-footer {
  display: flex;
  align-items: center;
  height: auto;
}

footer .logo-footer img {
  width: 280px;
}

footer .content-footer ul {
  padding: 0px !important;
}

footer .content-footer li {
  list-style-type: none;
}

footer .content-footer h3 {
  font-size: 18px;
  color: var(--first-color) !important;
  font-weight: 580;
  font-family: var(--font-title);
}

footer .content-footer a {
  font-size: 18px;
  color: var(--first-color);
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

footer .content-footer a:hover {
  color: var(--first-color) !important;
}

footer .content-footer i {
  font-size: 16px;
  color: var(--first-color);
  text-decoration: none;
  margin-right: 8px;
}

footer .line {
  height: 1px;
  margin-top: 60px;
  background-color: var(--first-color);
}

footer .dev {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 0;
}

footer .dev a {
  color: var(--first-color);
  text-decoration: none;
  font-weight: 550;
}

footer .dev i {
  margin-right: 10px;
}

@media (max-width: 1200px) {
  footer {
    width: 100vw;
  }

  footer .content-footer {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  footer li {
    width: 80vw;
  }
}

@media (max-width: 575px){
  footer .logo-footer img {
  width: 180px;
}
}
